#sidenav {
	background-color: #3A7BDF;
	height: 100vh;
}

.side-links {
	list-style-type: none;
	padding-left: 2.5rem;
}

.side-link {
	color: white;
	font-size: 1.3rem;
	padding-bottom: 1.5%;
}

#logo {
	height: 3rem;
	margin-left: 2.9rem;
	margin-top: 1rem;
}