@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Raleway');

#intro {
	height: 92vh;
	background-image: url("../res/bg.jpg");
	background-size: 100%;
}

.bright-btn {
	background-color: #1DE9b6;
	color: #000000;
}

.bright-btn:hover {
	background-color: #00BFA5;
}

#brand-logo {
	height: 2rem;
}

.navbar {
	background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
}

#header-text {
	font-family: 'Raleway';
	font-size: 4rem;
	border-bottom: 1px solid white;
	text-align: center;
	margin: auto;
}

.header {
	text-align: center;
	padding-top: 12%;
	color: white;
}

.nav-link {
	color: black;
}

.nav-link:hover {
	color: black;
	text-decoration: underline;
}

.arrow {
	text-align: center;
	margin-top: 20%;
}

#features {
	background-color: #EEEEEE;
	height: 50vh;
}

#about {
	height: 80vh;
}

.card {
	margin-top: 3%;
	height: 13rem;
}

span.right {
	font-family: 'Raleway';
}

.about-title {
	margin-top: 3%;
	font-size: 3rem;
}

.about-text {
	margin-top: 5%;
}

.feat-title {
	padding-top: 3%;
	padding-bottom: 1%;
	font-size: 3rem;
}

.sell-cards {
	background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
}

.purchase-title {
	padding-top: 3%;
	padding-bottom: 1%;
	font-size: 3rem;
}

#footer {
	background-image: linear-gradient(to right, #3A7BDF 0%, #00D4FF 100%);
}

footer {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	color: white;
}